@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

#LOL {
  font-family: 'Lilita One';
}

#button_cucumber {
  margin: 0;
  margin-top: 43px;
  position: absolute;
  left: 51%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#button_cucumber:hover {
  transform: translate(-50%, -50%) scale(1.02);
}

#button_cucumber:active {
  transform: translate(-50%, -50%) scale(0.98);
}

h1 {
  margin: auto;

  font-family: 'Lilita One';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 160px;
  text-align: center;

  color: #FFFFFF;

  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.8px #000;
  transform: rotate(-0.06deg);
}

body, #app, html {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

body {
    position: relative;
    background-color: #0C467B;
}