#concombre {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 300px;
  background-color: green;
  border-radius: 12px;
  transform: translate(-50%, -50%);
}

body {
    position: relative;
    width: 1728px;
    height: 1117px;

    background: #0C467B;
}